<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Exam Prediction</title>
</head>
<body>
    <div class="login">
        <h1>Student Exam Performance Indicator</h1>

        <form action="{{ url_for('predict_datapoint') }}" method="post">
            <legend>Student Exam Performance Prediction</legend>

            <div class="mb-3">
                <label>Gender</label>
                <select name="gender" required>
                    <option disabled selected value="">Select your Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Race or Ethnicity</label>
                <select name="ethnicity" required>
                    <option disabled selected value="">Select Ethnicity</option>
                    <option value="group A">Group A</option>
                    <option value="group B">Group B</option>
                    <option value="group C">Group C</option>
                    <option value="group D">Group D</option>
                    <option value="group E">Group E</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Parental Level of Education</label>
                <select name="parental_level_of_education" required>
                    <option disabled selected value="">Select Parent Education</option>
                    <option value="associate's degree">Associate's Degree</option>
                    <option value="bachelor's degree">Bachelor's Degree</option>
                    <option value="high school">High School</option>
                    <option value="master's degree">Master's Degree</option>
                    <option value="some college">Some College</option>
                    <option value="some high school">Some High School</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Lunch Type</label>
                <select name="lunch" required>
                    <option disabled selected value="">Select Lunch Type</option>
                    <option value="free/reduced">Free/Reduced</option>
                    <option value="standard">Standard</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Test Preparation Course</label>
                <select name="test_preparation_course" required>
                    <option disabled selected value="">Select Test Course</option>
                    <option value="none">None</option>
                    <option value="completed">Completed</option>
                </select>
            </div>

            <div class="mb-3">
                <label>Writing Score (out of 100)</label>
                <input type="number" name="reading_score" min="0" max="100" required />
            </div>

            <div class="mb-3">
                <label>Reading Score (out of 100)</label>
                <input type="number" name="writing_score" min="0" max="100" required />
            </div>

            <div class="mb-3">
                <input type="submit" value="Predict your Maths Score" />
            </div>
        </form>

        <h2>
            {% if results %}
                The prediction is: {{ results }}
            {% endif %}
        </h2>
    </div>
</body>
</html>
